## 3.11　向量化字符串操作
使用Python 的一个优势就是字符串处理起来比较容易。在此基础上创建的Pandas 同样提供了一系列向量化字符串操作（vectorized string operation），它们都是在处理（清洗）现实工作中的数据时不可或缺的功能。在这一节中，我们将介绍Pandas 的字符串操作，学习如何用它们对一个从网络采集来的杂乱无章的数据集进行局部清理。

### 3.11.1　Pandas字符串操作简介
前面的章节已经介绍过如何用NumPy 和Pandas 进行一般的运算操作，因此我们也能简便快速地对多个数组元素执行同样的操作，例如：

In [1]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

向量化操作简化了纯数值的数组操作语法——我们不需要再担心数组的长度或维度，只需要关心需要的操作。然而，由于NumPy 并没有为字符串数组提供简单的接口，因此需要通过繁琐的for 循环来解决问题：

In [2]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

虽然这么做对于某些数据可能是有效的，但是假如数据中出现了缺失值，那么这样做就会引起异常，例如：

In [3]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

Pandas 为包含字符串的Series 和Index 对象提供的str 属性堪称两全其美的方法，它既可以满足向量化字符串操作的需求，又可以正确地处理缺失值。例如，我们用前面的数据data 创建了一个Pandas 的Series：

In [4]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

现在就可以直接调用转换大写方法capitalize() 将所有的字符串变成大写形式，缺失值会被跳过：

In [5]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

在str 属性后面用Tab 键，可以看到Pandas 支持的所有向量化字符串方法。

### 3.11.2　Pandas字符串方法列表
如果你熟悉Python 的字符串方法的话，就会发现Pandas 绝大多数的字符串语法都很直观，甚至可以列成一个表格。在深入论述后面的内容之前，让我们先从这一步开始。这一节的示例将采用一些人名来演示：

In [6]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

#### 3.11.2.1 与Python字符串方法相似的方法
几乎所有Python 内置的字符串方法都被复制到Pandas 的向量化字符串方法中。下面的表
格列举了Pandas 的str 方法借鉴Python 字符串方法的内容：
```python
len() lower() translate() islower()
ljust() upper() startswith() isupper()
rjust() find() endswith() isnumeric()
center() rfind() isalnum() isdecimal()
zfill() index() isalpha() split()
strip() rindex() isdigit() rsplit()
rstrip() capitalize() isspace() partition()
lstrip() swapcase() istitle() rpartition()
```
需要注意的是，这些方法的返回值不同，例如`lower()` 方法返回一个字符串Series：

In [7]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [8]:
# 但是有些方法返回数值：
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [9]:
# 有些方法返回布尔值：
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [10]:
# 还有些方法返回列表或其他复合值：
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

#### 3.11.2.2 使用正则表达式的方法
还有一些支持正则表达式的方法可以用来处理每个字符串元素。表3-4 中的内容是Pandas向量化字符串方法根据Python 标准库的re 模块函数实现的API。

表3-4：Pandas向量化字符串方法与Python标准库的re模块函数的对应关系

|方法|描述|
|:-|:-|
|match() |对每个元素调用re.match()，返回布尔类型值|
|extract() |对每个元素调用re.match()，返回匹配的字符串组（groups）|
|findall() |对每个元素调用re.findall()|
|replace() |用正则模式替换字符串|
|contains() |对每个元素调用re.search()，返回布尔类型值|
|count() |计算符合正则模式的字符串的数量|
|split() |等价于str.split()，支持正则表达式|
|rsplit() |等价于str.rsplit()，支持正则表达式|

通过这些方法，你就可以实现各种有趣的操作了。例如，可以提取元素前面的连续字母作为每个人的名字（first name）：

In [12]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

我们还能实现更复杂的操作，例如找出所有开头和结尾都是辅音字母的名字——这可以用正则表达式中的开始符号（^）与结尾符号（$）来实现：

In [13]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

能将正则表达式应用到Series 与DataFrame 之中的话，就有可能实现更多的数据分析与清洗方法。

#### 3.11.2.3 其他字符串方法

表3-5 其他Pandas字符串方法

|方法|描述|
|:|:|
|get() |获取元素索引位置上的值，索引从0 开始|
|slice() |对元素进行切片取值|
|slice_replace() |对元素进行切片替换|
|cat() |连接字符串（此功能比较复杂，建议阅读文档）|
|repeat() |重复元素|
|normalize() |将字符串转换为Unicode 规范形式|
|pad() |在字符串的左边、右边或两边增加空格|
|wrap() |将字符串按照指定的宽度换行|
|join() |用分隔符连接Series 的每个元素|
|get_dummies() |按照分隔符提取每个元素的dummy 变量，转换为独热（one-hot）编码的DataFrame|

**(1) 向量化字符串的取值与切片操作。**

这里需要特别指出的是，get() 与slice() 操作可以从每个字符串数组中获取向量化元素。例如，我们可以通过str.slice(0, 3) 获取每个字符串数组的前三个字符。通过Python 的标准取值方法也可以取得同样的效果，例如`df.str.slice(0, 3)` 等价于`df.str[0:3]`：

In [14]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

df.str.get(i) 与df.str[i] 的按索引取值效果类似。

`get()` 与`slice()` 操作还可以在`split()` 操作之后使用。例如，要获取每个姓名的姓（last name），可以结合使用`split()` 与`get()`：

In [15]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

**(2) 指标变量。**

另一个需要多花点儿时间解释的是get_dummies() 方法。当你的数据有一列包含了若干已被编码的指标（coded indicator）时，这个方法就能派上用场了。
<br>例如，假设有一个包含了某种编码信息的数据集，如A= 出生在美国、B= 出生在英国、C= 喜欢奶酪、D= 喜欢午餐肉：

In [16]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

`get_dummies()` 方法可以让你快速将这些指标变量分割成一个独热编码的DataFrame（每个元素都是0 或1）：

In [17]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

通过Pandas 自带的这些字符串操作方法，你就可以建立一个功能无比强大的字符串处理程序来清洗自己的数据了。

虽然本书将不再继续介绍这些方法，但是希望你仔细阅读Pandas 在线文档中“Workingwith Text Data”（http://pandas.pydata.org/pandas-docs/stable/text.html ）节，或者阅读3.14 节的相关资源。

### 3.11.3　案例：食谱数据库
前面介绍的这些向量化字符串操作方法非常适合用来处理现实中那些凌乱的数据。下面将通过一个从不同网站获取的公开食谱数据库的案例来进行演示。我们的目标是将这些食谱数据解析为食材列表，这样就可以根据现有的食材快速找到食谱。

获取数据的脚本可以在https://github.com/fictivekin/openrecipes 上找到，那里还有最新版的数据库链接。

截至2016 年春，这个数据集已经有30MB 了。可以通过下面的命令下载并解压数据：

In [24]:
!curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz
!gunzip recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    20  100    20    0     0     29      0 --:--:-- --:--:-- --:--:--    29
100    20  100    20    0     0     29      0 --:--:-- --:--:-- --:--:--    29

这个数据库是JSON 格式的，来试试通过pd.read_json 读取数据：

In [19]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Expected object or value

糟糕！我们得到的竟然是提示数据里有“trailing data”（数据断行）的ValueError 错误。

从网上搜索这个错误，得知原因好像是虽然文件中的每一行都是一个有效的JSON 对象，但是全文却不是这样。来看看文件是不是这样：

In [ ]:
with open('recipeitems-latest.json') as f:
    line = f.readline()
pd.read_json(line).shape

显然每一行都是一个有效的JSON 对象，因此需要将这些字符串连接在一起。解决这个问题的一种方法就是新建一个字符串，将所有行JSON 对象连接起来，然后再通过pd.read_json 来读取所有数据：

In [ ]:
# 将文件内容读取成Python数组
with open('recipeitems-latest.json', 'r') as f:
    # 提取每一行内容
    data = (line.strip() for line in f)
    # 将所有内容合并成一个列表
    data_json = "[{0}]".format(','.join(data))
# 用JSON形式读取数据
recipes = pd.read_json(data_json)

In [ ]:
recipes.shape

这样就会看到将近20 万份食谱，共17 列。抽一行看看具体内容：

In [ ]:
recipes.iloc[0]

这里有一堆信息，而且其中有不少都和从网站上抓取的数据一样，字段形式混乱。值得关注的是，食材列表是字符串形式，我们需要从中抽取感兴趣的信息。下面来仔细看看这个字段：

In [ ]:
recipes.ingredients.str.len().describe()

食材列表平均250 个字符，最短的字符串是0，最长的竟然接近1 万字符！出于好奇心，来看看这个拥有最长食材列表的究竟是哪道菜：

In [ ]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

从名字就可以看出，这绝对是个复杂的食谱。

我们还可以再做一些累计探索，例如看看哪些食谱是早餐：

In [ ]:
recipes.description.str.contains('[Bb]reakfast').sum()

或者看看有多少食谱用肉桂（cinnamon）作为食材：

In [ ]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

还可以看看究竟是哪些食谱里把肉桂错写成了“cinamon”：

In [ ]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

这些基本的数据探索都可以用Pandas 的字符串工具来处理，Python 非常适合进行类似的数据清理工作。

#### 3.11.3.1 制作简易的美食推荐系统

现在让我们更进一步，来制作一个简易的美食推荐系统：如果用户提供一些食材，系统就会推荐使用了所有食材的食谱。这说起来是容易，但是由于大量不规则（heterogeneity）数据的存在，这个任务变得十分复杂，例如并没有一个简单直接的办法可以从每一行数据中清理出一份干净的食材列表。因此，我们在这里简化处理：首先提供一些常见食材列表，然后通过简单搜索判断这些食材是否在食谱中。为了简化任务，这里只列举常用的香料和调味料：

In [ ]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley',
              'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

现在就可以通过一个由True 与False 构成的布尔类型的DataFrame 来判断食材是否出现在某个食谱中：

In [ ]:
import re
spice_df = pd.DataFrame(
    dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE)) for spice in spice_list))
spice_df.head()

现在，来找一份使用了欧芹（parsley）、辣椒粉（paprika）和龙蒿叶（tarragon）这三种食材的食谱。我们可以通过3.13 节介绍的DataFrame 的query() 方法来快速完成计算：

In [ ]:
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

最后只找到了十份同时包含这三种食材的食谱，让我们用索引看看究竟是哪些食谱：

In [ ]:
recipes.name[selection.index]

现在已经将搜索范围缩小到了原来近两万份食谱的两千分之一了，这样就可以从这个小集合中精挑细选出中意的食谱。

#### 3.11.3.2 继续完善美食推荐系统

希望这个示例能让你对Pandas 字符串方法可以高效解决哪些数据清理问题有个初步概念。当然，如果要建立一个稳定的美食推荐系统，还需要做大量的工作！从每个食谱中提取完整的食材列表是这个任务的重中之重。不过，由于食材的书写格式千奇百怪，解析它们需要耗费大量时间。这其实也揭示了数据科学的真相——真实数据的清洗与整理工作往往会占据的大部分时间，而使用Pandas 提供的工具可以提高你的工作效率。